* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #board {
    width: 600px;
    height: 600px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cell {
    flex: 0 0 200px;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  /* This rule gives us the vertical grid lines */
  .cell:nth-child(3n+2) { 
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  

  /* This rule gives us the horizontal grid lines */
  .cell:nth-child(n+4):nth-child(-n+6) {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }


  input{
    font-size: 20px;
    padding: 10px;
    margin: 15px;
    text-align: center;
  }
  #restart-button{
    border: 1px solid red;
    background-color: white;
  }